@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FFFFFF;
  --background: #151718;
  --semigrey: #242627;
  --highlight-rgba: rgba(255,255,255,0.1)
  --stroke-rgba: rgba(255,255,255,0.3);
  --accent: #E00027;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.gradient-text {
  @apply bg-[white] bg-[linear-gradient(0deg,#1E2021_0%,#ffffff_50%)] bg-[100%] bg-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Extra Small Devices */
@media (max-width: 576px) {
  .container {
    @apply w-full;
  }

  h1 {
    @apply text-lg text-center font-normal leading-6 mt-5 m-0 p-0 font-michroma;
  }
}

/* Small Devices */
@media (min-width: 577px) and (max-width: 768px) {
  .container {
    @apply mx-auto;
  }

  h1 {
    @apply text-4xl text-center font-normal leading-[64px] mt-[38px] m-0 p-0 font-michroma;
  }
}

/* Medium Devices */
@media (min-width: 767px) and (max-width: 992px) {
  .container {
    @apply w-[700px] mx-auto;
  }

  h1 {
    @apply text-5xl text-center font-normal leading-[64px] mt-[38px] m-0 p-0 font-michroma;
  }
}

/* Large Devices */
@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    @apply w-[900px] mx-auto;
  }

  h1 {
    @apply text-[52px] text-center font-normal leading-[64px] mt-[38px] m-0 p-0 font-michroma;
  }
}

/* Extra Large Devices */
@media (min-width: 1201px) {
  .container {
    @apply w-[1200px] mx-auto;
  }

  h1 {
    @apply text-[64px] text-center font-normal leading-[64px] mt-[38px] m-0 p-0 font-michroma;
  }
}
